@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
::before,
::after {
  margin: O;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /*Primary*/

  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);

  /*Neutral*/

  --Very_Dark_Blue: hsl(234, 12%, 34%);
  --Grayish_Blue: hsl(229, 6%, 66%);
  --Very_Light_Gray: hsl(0, 0%, 98%);

  /*font family */
  --ff: "Poppins", sans-serif;
}

body {
  font-family: var(--ff);
  font-size: 15px;
  background-color: var(--Very_Light_Gray);
  color: var(--Grayish_Blue);
}

.container {
  max-width: 1200px;
  padding: 50px 30px;
  margin: 0 auto;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

header p {
  margin-top: 20px;
  max-width: 600px;
}

header h2,
h3,
.card h5,
p {
  margin: 0;
}

header h2 {
  font-size: 2rem;
  font-weight: 200;
  color: var(--Very_Dark_Blue);
}
header h3 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--Very_Dark_Blue);
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 60px;
  gap: 25px;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.card-1,
.card-4 {
  align-self: center;
}

.card-1 {
  border-top: 4px solid var(--Cyan);
}

.card-2 {
  border-top: 4px solid var(--Red);
}

.card-3 {
  border-top: 4px solid var(--Orange);
}

.card-4 {
  border-top: 4px solid var(--Blue);
}

.card {
  background-color: white;
  border-radius: 7px;
  padding: 30px;
  text-align: right;
}
.card-text h5 {
  font-size: 20px;
  color: var(--Very_Dark_Blue);
  margin-bottom: 0.5rem;
}

.card-text {
  text-align: left;
  margin-bottom: 2.5rem;
}

@media only screen and (max-width: 770px) {
  main {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 425px) {
  body {
    font-size: 13px;
  }
  header h2,
  header h3 {
    font-size: 1.6rem;
    margin: 0;
  }

  .card {
    padding: 20px;
  }
  .card-text {
    padding-bottom: 13px;
  }
}
